body,main,footer {
  padding: 0;
  margin: 0;
  text-align: center;
}

div{ 
  box-sizing: border-box;
  
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(700px, auto) auto minmax(60px,  auto); 
}

header{ 
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
}

header .left{
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.siteNav{
  grid-column: span 2;
  height: 100%;
  margin: 5% 0 ;
}
.siteNav ul{
    display: flex;
    height: 100%;
    margin: 0;
    align-items: flex-start;
    justify-content: space-around;


}
.social{
  grid-column: span 1 /-1;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
header li{
  display: inline-block;
}

.banner{
   grid-column: span 4;
   grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
section{
  padding: 0 10%;
}
[id]{
  padding: 2% 0;
}
.about {
  border-radius: 3%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  text-align: left;
}

.about div {
  padding: 0 5%;
  height: 100%;
}

.skills {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5%;
  justify-items: center;
  justify-content: space-evenly;
}

.skills div{
  padding: 5%;
  background-color: #fff;
  
  width: 100%;
  text-align: left;
}

.portfolio{

  display: grid;
  grid-gap: 5%;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-template-rows: repeat(2, minmax(300px, 1fr));

}


.image{
  margin: 0;
  padding: 0;
  height: 100%;
  
  display: flex;
  align-items: flex-end;
  flex-direction: column;

}
.description{
  
  background-color: #fff;
 
  width: 100%;
  position: relative;
  
}


.overlay{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  margin-bottom: 10%;
  border-radius: 3%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  text-align: left;
}

.contact div {
  padding: 5%;
  height: 100%;
}

form{
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 
}
label{
   padding: 0;
  
}
input,textarea,button{
  width: 80%;
  margin: 10px 0;
  box-sizing: border-box;

}
button{
  height: 50px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}