::selection{
	background: var(--thirdColor);
	color: #fff;
}
:root {
	--mainColor: #f9ed69;
	--secondColor: #f08a5d;
	--thirdColor: #b83b5e;
	--fourthColor: #6a2c70;
	--textShadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	--borderRadius: 10px;
}
body{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.4em;
	background-color: #eee;
}
.banner{
	background-color: #fff;
}
h1,h2 {
  font-family: 'Lobster', serif;
  color: var(--fourthColor);
  text-shadow: var(--textShadow);
}
h1{
	font-size: 3.3em;
}
h2{
	font-size: 2.2em;
}
a{
	text-decoration: none;
	color: white;
}
.container {
}
header{
	background-image:linear-gradient(202deg, var(--fourthColor), #fff);

}
header .left {
	color: #000;
	background-image: url(../img/bg-code.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-right: 10px solid #fff;
}
.accent {
  color: var(--fourthColor);
	font-weight: bold;	 
}

.social{
	font-size: 120%;
}



header li {
	letter-spacing: 2px;
	list-style: none;
	font-weight: bold;
	text-shadow: var(--textShadow);
}

.about div{
	background-color: #fff;
	box-shadow: var(--textShadow);
}
.about div:first-child{
	border-right: 2px solid var(--fourthColor);
	border-radius: var(--borderRadius) 0 0 var(--borderRadius);
}

.about div:last-child {
	border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
}

.skills div{
	box-shadow: var(--textShadow);
	border-radius: var(--borderRadius);
}
.portfolio a{
	color:#000;
}
.image{
	  background-image: url(../img/Palm.png);
		background-size: cover;
		background-position: center center;
}
.overlay{
	text-transform: uppercase;
  opacity: 0;
  text-align: center;
  background-color: black;
  color: #fff;
  transition: opacity 0.5s ease-in-out;
  }

.overlay:hover {
	opacity: 0.85;
}

.image1{
	background-image: url(../img/skynet.png);
}
.image2{
	background-image: url(../img/Snake.png);
}
.image3{
	background-image: url(../img/pepsi.png);
}

.contact div {
	background-color: #fff;
	box-shadow: var(--textShadow);
}

.contact div:first-child {
	background-color: var(--fourthColor);
	color:#fff;
	border-radius: var(--borderRadius) 0 0 var(--borderRadius);
}

.contact div:last-child {
	border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
}

input, textarea{
	background-color:#eee;
	width: 200px;
	border: none;
	border-bottom: 3px solid var(--fourthColor)
}
button{
	color: #6a2c70;
		background-color: #eee;
		font-weight: bold;
		width: 200px;
		border: none;
		font-size: 1.3em;
		text-align: left;
}
footer{
  color: #fff;
  background-color: var(--fourthColor);
}

article{	
	background-color: #eee;
}
