:root {
	--mainColor: #f9ed69;
	--secondColor: #f08a5d;
	--thirdColor: #b83b5e;
	--fourthColor: #6a2c70;
    --textShadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
body{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.4em;
}
h1,h2 {
  font-family: 'Lobster', serif;
  color: var(--fourthColor);
  text-shadow: var(--textShadow);
}
a{
	text-decoration: none;
	color: white;
}
.container {
	background-color: #fff;
}
header .left {
	color: #000;
	background-image: url(../img/bg-code.jpg);
	background-size: contain;
}
header .left span {
  color: var(--secondColor);

  font-weight: bold;
}
header .right{
		background-image:linear-gradient(202deg, var(--fourthColor), #fff);
}
main{
  background-color: var(--secondColor);
}

.banner{
  background-color: #fff;
}
li {
	letter-spacing: 2px;
  
}
footer{
  color: #fff;
  background-color: var(--fourthColor);
}