:root{
  --mainColor:#fff;
  --secondColor:#f08a5d;
  --thirdColor:#6a2c70;
  --fourthColor:rgb(184,59,94);
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
}
h1,h2{
  font-family: 'Lobster', cursive;

}
.container {
  background-color: var(--mainColor);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px auto auto 100px;
}

.top{ 
  background-color: var(--thirdColor); 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.top .left{
  color: #000;
  background-image: url(../img/bg-code.jpg);
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.top .left span{
  color:var(--thirdColor);
  font-weight: bold;
}
.top .right{
  display: flex;
  /* align-items: flex-start; */
  justify-content: center;
}
li{
  display: inline-block;
  letter-spacing: 2px;
  padding: 20px 5px;
  align-items: baseline;
  list-style: none;

}
div{
  border: 2px solid black;
  height: 100%;
  box-sizing: border-box;
}
.middle {
 

  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  
}
.section {
  background-color: var(--thirdColor);


  margin: 20px 60px;
}
.bottom{
  padding: 0 30px;
}
.contact{
  text-align: center;
}
.footer{
  background-color: var(--secondColor);
  
}