:root{
  --mainColor:#f9ed69;
  --secondColor:#f08a5d;
  --thirdColor:#6a2c70;
  --fourthColor:rgb(184,59,94);
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8fr auto auto 50px;
  background-color: var(--mainColor);
}

.top{ 
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--thirdColor); 
  
}
.top div{
  border: 2px solid black;
  height: 100%;
  box-sizing: border-box;
}
.middle {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  
  
}
.bottom{
  padding: 0 30px;
}
.footer{
  background-color: var(--secondColor);
}